@model formWithDbConn.Models.Student

<div class="card">
    <div class="card-header bg-primary text-white text-uppercase">
        <h4>Student Information</h4>
    </div>
    <div class="card-body">
        <form asp-action="Register" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="label-control"></label>
                        <input asp-for="Name" class="form-control" /><span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">

                        <div class="form-group">

                            <label asp-for="Age" class="label-control"></label>

                            <input asp-for="Age" class="form-control" />

                            <span asp-validation-for="Age" class="text-danger"></span>

                        </div>

                    </div>
                    <div class="mb-3">

                        <label class="form-label" asp-for="Country">Country:</label>

                        <select id="country" asp-for="Country" name="country" class="form-select" onchange="updateStates()"
                                required>

                            <option value="" disabled selected>Select Country</option>

                            <option value="India">India</option>

                            <option value="USA">USA</option>

                        </select>

                        <span asp-validation-for="Country"></span>


                    </div>
                    <div class="mb-3">

                        <label class="form-label" asp-for="State">State:</label>

                        <select id="state" asp-for="State" name="state" class="form-select" onchange="updateCities()" required>

                            <option value="" disabled selected>Select State</option>

                        </select>

                        <span asp-validation-for="State"></span>

                    </div>

                    <div class="mb-3">

                        <label class="form-label" asp-for="City">City:</label>

                        <select id="city" asp-for="City" name="city" class="form-select" required>

                            <option value="" disabled selected>Select City</option>

                        </select>

                        <span asp-validation-for="City"></span>

                    </div>
                    <div class="row">

                        <div class="col-md-4">

                            <div class="form-group">

                                <label asp-for="PhNo" class="label-control"></label>

                                <input asp-for="PhNo" class="form-control" />

                                <span asp-validation-for="PhNo" class="text-danger"></span>

                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="form-group">
                                <label asp-for="Emailid" class="label-control"></label>

                                <input asp-for="Emailid" class="form-control" />

                                <span asp-validation-for="Emailid" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group">

                                <label asp-for="Gender" class="label-control"></label>

                                <input type="radio" asp-for="Gender" value="Male" class="label-control" /> Male

                                <input type="radio" asp-for="Gender" value="Female" class="label-control" /> Female

                                <span asp-validation-for="Gender" class="text-danger"></span>

                            </div>

                        </div>
<div class="form-group">

            <button type="submit" class="btn btn-primary rounded-0">Submit</button>

            </div>
                      
        </form>
    </div>
</div>
<script src="~/js/DynamicCity.js"></script>

@* Activate JQuery Validation*@
@section Scripts{
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
    }